<p>
  Please enter the range below, hit Find to see the result and Reset to clear all text fields.
</p>
<div class="container">
    <form [formGroup]="form">
        <div class="form-group row">
            <div class="col-xs-2">
                Min: <input type="text"
                id="min"
                size="10"
                class="form-control"
                onFocus="if (value == this.defaultValue) value = ''"
                formControlName="min"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                Max: <input type="text"
                id="max"
                class="form-control"
                size="10"
                onFocus="if (value == this.defaultValue) value = ''"
                formControlName="max"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                Result: <input type="text"
                id="result"
                readonly
                class="form-control"
                size="10"
                formControlName="result"/>
            </div>
        </div>
        <br>
        <button (click)="findPalindrome(form.value)" class="btn btn-primary">Find</button>
        &nbsp;
        <button (click)="reset()" class="btn btn-success">Reset</button>
  </form>
</div>
&nbsp;
<nav>
    <a routerLink="/intro">Back</a>
</nav>  