<p>
  Please enter the range below, hit Find to see the result and Reset to clear all text fields.
</p>
<div style="border:2px dashed green;background:#f5f5dc;">
    <form [formGroup]="form">
  Min: <input type="text"
            id="min"
            size="10"
            placeholder="0"
            onFocus="if (value == this.defaultValue) value = ''"
            formControlName="min"/>
  &nbsp;
  <br>
  Max: <input type="text"
            id="max"
            size="10"
            placeholder="105"
            onFocus="if (value == this.defaultValue) value = ''"
            formControlName="max"/>
  <br>
  Result:
     <input type="text"
            id="result"
            readonly
            size="20"
            formControlName="result"/>
  <br>
      <button (click)="findPalindrome(form.value)">Submit</button>
      <button (click)="reset()">Reset</button>
  </form>
  </div>
<nav>
    <a routerLink="/intro">Back</a>
</nav>  