<p>
  Please enter the range below, hit Find to see the result and Reset to clear all text fields.
</p>
<div style="border:2px dashed green;background:#f5f5dc;">
    <form #finder = "ngForm" (ngSubmit) = "isPalindrome(finder.value)">
  Min: <input type="text"
            id="min"
            name="min"
            size="10"
            placeholder="0"
            onFocus="if (value == this.defaultValue) value = ''"
            ngModel/>
  &nbsp;
  <br>
  Max: <input type="text"
            id="max"
            name="max"
            size="10"
            placeholder="105"
            onFocus="if (value == this.defaultValue) value = ''"
            ngModel/>
  <br>
  Result:
     <input type="text"
            id="result"
            name="Result"
            readonly
            size="20"
     />
  <br>
  <!-- <button class="find"
          (click)="findPalindrome(min, max)">Find</button> -->
          <input type = "submit" value = "Find">
  <input type="reset" value="Reset">
  </form>
  </div>
<nav>
    <a routerLink="/intro">Back</a>
</nav>  