<p>
  Welcome! The purpose of this application is to find the largest palindromic number between two numbers of your choosing.
  For example, if you input the numbers 0 and 105, the page will return 101 as the answer, the largest palindrome between 0 and 105.
  When entering numbers for the range, please use <b>decimal intergers only</b> and choose the appropiate box for the min as well as the max
  value.
</p>
<!-- <input type="button"
       value="Next"
       onclick=""
   /> -->
   <nav>
      <a routerLink="/finder">Next</a>
  </nav>  